# KiCad backup files
*.bak
*.kicad_pcb-bak
*.sch-bak
_autosave-*
*-cache.lib
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Gerber files output
*.gbr
*.drl
*.gbrjob

# 3D model backup files
*.step-bak
*.stp-bak
*.wrl-bak

# Temporary files
*.000
*.bck
*.kicad_prl
*.kicad_pro-bak
*-backups/
#auto_saved_files#

# KiCad lock files (present while a project is open)
*.lck
~*.lck

# VS Code Local History extension
.history/
